{% load static %}
<!DOCTYPE html>
<html>
<head>

{% load bootstrap5 %}
  {% bootstrap_css %}
  {% bootstrap_javascript %}
<link rel="shortcut icon" type="image/png" href="{% static 'images/logo.png' %}" >
{% block head %}
{% endblock %}
</head>
<body class="text-center">


{% block  content %}
{% endblock content %}

{%  if user.is_authenticated %}
<p>Vous êtes connecté en tant que  {{ request.user }}. Cliquer-ici pour vous <a href="{% url 'Logout' %}">deconnecter</a></p>
{% endif %}

</body>
</html>